{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>API Landing Page</h1>
    <p>Below are the available JSON routes:</p>
    <ul>
        {% for route, url in data.routes %}
            <li><a href="{{ url }}">{{ route }}</a></li>
        {% endfor %}<br>

        <li><a href="{{ path('api_deck_get') }}">Card deck sorted</a> - Returns a JSON structure with the entire deck sorted by color and value.</li>
        <li><a href="{{ path('api_deck_shuffle') }}">Card deck shuffled</a> - Shuffles the deck and returns a JSON structure with the shuffled deck.</li>
        <li><a href="{{ path('api_deck_draw') }}">Draw one card</a> - Draws 1 card from the deck and shows it in a JSON structure.</li>
        <li><a href="{{ path('api_deck_draw_multiple', {'number': 5}) }}">Draw 5 cards</a> - Draws 5 cards from the deck and shows them in a JSON structure.</li><br>
        <li><a href="{{ path('api_game_status') }}">Game Status</a> - Check latest game status.</li><br>
        <li><a href="{{ path('api_library_books') }}">Library Books</a> - Get all books from the library.</li>
        <li><a href="{{ path('api_library_book', {'isbn': '1234567890'}) }}">Library Book (example)</a> - Get a specific book by ISBN.</li>
    </ul>
{% endblock %}
